# Node
node_modules/
.local/
.env
.DS_Store
# Build
dist/
client/dist/
# Logs
*.log
server.log
# IDE
.vscode/
.idea/
# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
*.keystore
keystore.properties
# Capacitor
.capacitor/
